.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 'min-content';
  overflow: auto;
}

.loading-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.user {
  height: 200px;
  width: 400px;
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0;
}